@{
    ViewData["Title"] = "Home Page";
}
<!--
    <div style="background-color:#041e42; color:lightgray;">
    <div align="center" class="container" style="text-align:center; ">
        <h1 class="display-2">Announcements</h1>
        <p class="lead">This is a where the professor's announcements will go.</p>
    </div>
</div>
<div>
    <h3>Class and Office Hours</h3>
</div>
-->
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="profilepicture">
    <div>
        <i class="fa fa-camera-retro" style="font-size:128px;"></i>
    </div>

    <div>
        <h3 style="text-align:center;">Schedule</h3>
        <textarea rows="16" cols="15" style="color:black;">
        This is where the professor will have their schedule for their courses and office hours.
        </textarea>
    </div>
</div>

<div class="actionbuttons">
    <div>
        <i class="fa fa-send-o" style="font-size:128px;"></i>
        <i class="fa fa-calendar" style="font-size:128px;"></i>
    </div>
</div>

<div class="announcements">
    <h1 style="text-align:center;">Announcements</h1>
    <div>
        <textarea rows="22" cols="95" style="color:black;">
        This is test text. This will be where the professor will throw their announcements for the student to see. It works very well for the most part. This will be customized a bit more later on.
        </textarea>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

