@model ICollection<BucBoard.Models.Entities.Existing.Announcement>
@using BucBoard.Models.Entities.Existing

@{
    ViewData["Title"] = "Home Page";
}
<!--
    <div style="background-color:#041e42; color:lightgray;">
    <div align="center" class="container" style="text-align:center; ">
        <h1 class="display-2">Announcements</h1>
        <p class="lead">This is a where the professor's announcements will go.</p>
    </div>
</div>
<div>
    <h3>Class and Office Hours</h3>
</div>
-->
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 75%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        color: darkgrey;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="profilepicture"> <!--This begins the profile picture table on the left hand part of the screen.-->
    <div>
        <i class="fa fa-camera-retro" style="font-size:128px;"></i>

        <!-- Just File Upload Testing here, please ignore
    <form asp-controller="Home" asp-action="UploadProfilePic" method="post" enctype="multipart/form-data">
        <input type ="file" name="file" />
        <button type ="submit">Upload Image</button>
    </form>
    -->

    </div>
    <div class="schedule">
        <h3 style="text-align:left;">Schedule</h3>
        <table>
            <tr>
                <th>Event</th>
                <th>Days of the Week</th>
                <th>Times</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div class="actionbuttons">
    
    <h2 style="text-align:center; color:#f9f9f9; border:groove;">Buc Board Toolbox</h2>        <!--This is the tool box icon hrefs and styling.-->
    <div style="border-style:groove; border-width: 2px; border-color: #f9f9f9; padding:20px;">
        <a href="~/Home/Email"><i class="fa fa-send-o" style="font-size:128px; color:#f9f9f9"></i></a> <!-- Email icon button-->
        <i class="fa fa-calendar" style="font-size:128px; color:#f9f9f9"></i><!--Calendar icon button-->
    </div>
</div>

<div class="announcements">
    <h1 style="text-align:center;">Announcements</h1>
    <div style="text-align:center;">
        <textarea rows="23" cols="50" style="color:black;">
        </textarea>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>






































<!--

chase's hidey hole

    public BucBoardDBContext(DbContextOptions<BucBoardDBContext> options)
            : base(options)
        {
        }-->
