@{
    ViewData["Title"] = "Home Page";
}
<div style="background-color:#041e42; color:lightgray;">
    <div align="center" class="container" style="text-align:center; ">
        <h1 class="display-2">Announcements</h1>
        <p class="lead">This is a where the professor's announcements will go.</p>
    </div>
</div>
<div>
    <h3>Class and Office Hours</h3>
</div>
<!--Test part 2-->
