@model ICollection<BucBoard.Models.Entities.Existing.Announcement>
@using BucBoard.Models.Entities.Existing

@{
    ViewData["Title"] = "Home Page";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 75%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        color: darkgrey;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="profilepicture">
    <!--This begins the profile picture table on the left hand part of the screen.-->
    @*<div class="container-fluid">*@

    @*The camera icon*@
    @*<i class="fa fa-camera-retro" style="font-size:128px;"></i>*@

    @*A figure with profile pic and prof name*@
    @*<figure>
            <img src="@ViewBag.DisplayImage" class="img-fluid img-thumbnail img-circle" style="width:200px;height:200px;" />
            <figcaption style="text-align:center;">@ViewBag.DisplayName</figcaption>
        </figure>*@

    <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); max-width: 200px; margin: auto; text-align: center;">
        <img src="@ViewBag.DisplayImage" alt="Prof" class="img-fluid img-thumbnail" style="width: 100%; height: 200px;" />
        <h1 style="color: gold;">@ViewBag.DisplayName</h1>
        <p style="color: gold; font-size: 18px;">Faculty</p>
        <p style="color: gold;">East Tennessee State University</p>
        @*<a style="text-decoration: none; font-size: 22px; color: black;" href="#"><i class="fa fa-dribbble"></i></a>
            <a style="text-decoration: none; font-size: 22px; color: black;" href="#"><i class="fa fa-twitter"></i></a>
            <a style="text-decoration: none; font-size: 22px; color: black;" href="#"><i class="fa fa-linkedin"></i></a>
            <a style="text-decoration: none; font-size: 22px; color: black;" href="#"><i class="fa fa-facebook"></i></a>*@
        <p><button style="border: none; outline: 0; display: inline-block; padding: 8px; color: #f9f9f9; background-color: #041e42; text-align: center; cursor: pointer; width: 100%; font-size: 18px;" onMouseOver="this.style.color='gold'" onMouseOut="this.style.color='#FFF'" onclick="window.location.href='/Home/Email'">Contact</button></p>
    </div>

@*</div>*@

        <!-- Just File Upload Testing here, please ignore
    <form asp-controller="Home" asp-action="UploadProfilePic" method="post" enctype="multipart/form-data">
        <input type ="file" name="file" />
        <button type ="submit">Upload Image</button>
    </form>
    -->

    @*<div>*@
    
</div>
<div class="actionbuttons">
    <div class="schedule">
        <h3 style="text-align:center; color:gold; border:groove; background-color: #041e42;">Schedule</h3>
        <table style="margin:auto;">
            <tr>
                <th>Event</th>
                <th>Days of the Week</th>
                <th>Times</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<div class="announcements" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  margin: auto; text-align: center;">
    <h1 style="color: gold;  outline: 0; display: inline-block; padding: 8px; color: gold; text-align: center; ">Announcements</h1>
    <div style="text-align:center;">
        <textarea rows="23" cols="50" disabled="" style="color:black;">
        </textarea>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>






































<!--

chase's hidey hole

    public BucBoardDBContext(DbContextOptions<BucBoardDBContext> options)
            : base(options)
        {
        }-->
