.profilepicture {
    float: left;
    color: lightgrey;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.actionbuttons {
    float: right;
    color: lightgrey;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.announcements {
    margin: auto;
    color: lightgrey;
    float: none;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

/*body {
    background-color: #041e42;
}*/
