.profilepicture {
    float: left;
    color: lightgrey;
    padding: 15px;
}

.actionbuttons {
    float: right;
    color: lightgrey;
    padding: 15px;
}

.announcements {
    margin: auto;
    color: lightgrey;
    float: none;
    padding: 15px;
}

/*body {
    background-color: #041e42;
}*/
