@model IEnumerable<BucBoard.Models.Entities.Existing.Announcement>

@{
    ViewData["Title"] = "Index";
}

<br />
<p>
  
</p>

<table align="center" class="table">
    <thead>
        <tr>
            <th>
                <h3>@Html.DisplayNameFor(model => model.Message)s   <a asp-action="Create" class="btn btn-success">Create New</a></h3> <br />
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
<footer><div>
    <a href="~/Manage/Splash" class="btn btn-danger">Back to toolbox</a>
</div></footer>

