
@{
    ViewData["Title"] = "Splash";
}
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    th {
        padding: 20px;
        text-align: center
    }
</style>
<br /><br />
<div style="font-size:20px; margin:auto; border:groove; padding: 20px; color:#f9f9f9;">
    <table style="width:100%; border-radius:25px;">
        <tr>
            <th>Account Settings</th>
            <th>Schedule</th>
            <th>Announcements</th>
        </tr>
        <tr>
            <th>
                <a href="~/Manage/ChangePassword"><i class="fa fa-user-circle" style="font-size:128px; color:#f9f9f9"></i></a> <!--Account settings-->
            </th>
            <th>
                <a href="~/Course/Index"><i class="fa fa-list-alt" style="font-size:128px; color:#f9f9f9"></i></a> <!--Schedule settings-->
            </th>
            <th>
                <a href="~/Announcement/Index"><i class="fa fa-bullhorn" style="font-size:128px; color:#f9f9f9"></i></a> <!-- announcements settings-->
            </th>

        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

