@model BucBoard.Models.ViewModels.EditScheduleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Schedule Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseCode" class="control-label"></label>
                <input asp-for="CourseCode" class="form-control" />
                <span asp-validation-for="CourseCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseNumber" class="control-label"></label>
                <input asp-for="CourseNumber" class="form-control" />
                <span asp-validation-for="CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayOfTheWeek1" class="control-label"></label>
                <select class="form-control" id="DayOfTheWeek1" name="DayOfTheWeek1">
                    <option value="M">Monday</option>
                    <option value="T">Tuesday</option>
                    <option value="W">Wednesday</option>
                    <option value="TH">Thursday</option>
                    <option value="F">Friday</option>
                    <option value="MW">Monday/Wednesday</option>
                    <option value="TTH">Tuesday/Thursday</option>
                    <option value="MWF">Monday/Wednesday/Friday</option>
                </select>
                <span asp-validation-for="DayOfTheWeek1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" type="time"/>
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopTime" class="control-label"></label>
                <input asp-for="StopTime" class="form-control" type="time"/>
                <span asp-validation-for="StopTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ScheduleId" type="hidden" value="@Model.ScheduleId" />
            </div>
            <div class="form-group">
                <input asp-for="CourseId" type="hidden" value="@Model.CourseId" />
            </div>
            <div class="form-group">
                <input asp-for="DayOfTheWeekId" type="hidden" value="@Model.DayOfTheWeekId" />
            </div>
            <div class="form-group">
                <input asp-for="TimeId" type="hidden" value="@Model.TimeId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to Manage Schedule Items</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
