@model BucBoard.Models.Entities.Existing.ProfilePicture

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ProfilePicture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" type="file" name="pic" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ApplicationUserId" class="control-label"></label>*@
                <input asp-for="ApplicationUserId" type="hidden" value="@ViewBag.UserId" class="form-control" />
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

